{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<title> {{club.team.name}} </title>
<style>

.card bg-light .card-text {
  text-align: center;
  width: 100%;
  margin: 33% 0;
  position: absolute;
  z-index: 1;

}


</style>

</head>
<body>
	<br>
	<a class="btn btn-primary" href="{% url 'home' %}" role="button">Back to Table</a>
	<br>
	<br>
	<div class="row">
		<div class="col-md">
			<div class="card" style = "width: 18rm; background-color: {{club.color}};">
				<img class="card-img-left" src="{% get_static_prefix %}images/logos/{{ club.id }}.png" style = "height = 200px; width: 200px; margin-top: 10px; margin-left: 10px;" >
				<div class="card-body">
					<h1 class="card-title" style = "color: white; -webkit-text-stroke: 1px black; ">{{club.team.name}} - {{club.nickname}} </h1> 
				</div>
			</div>
			<div class="card card-body">
				<table class="table">
					<tr>
						<th scope="col">Position</th>
						<th scope="col">Club Name</th>
						<th scope="col">Played</th>
						<th scope="col">Won</th>
						<th scope="col">Drawn</th>
						<th scope="col">Lost</th>
						<th scope="col">GF</th>
						<th scope="col">GA</th>
						<th scope="col">GD</th>
						<th scope="col">Points</th>
						<th scope="col">Form</th>
					</tr>
					<tr>
						<td>{{club.team.position}}</td>
						<td><b>{{club.team.name}}</b></td>
						<td>{{club.team.played}}</td>
						<td>{{club.team.won}}</td>
						<td>{{club.team.drawn}}</td>
						<td>{{club.team.lost}}</td>
						<td>{{club.team.gf}}</td>
						<td>{{club.team.ga}}</td>
						<td>{{club.team.gd}}</td>
						<td>{{club.team.points}}</td>
						<td>
							{% for j in club.team.curForm%}
							{% if j == "W" %}
							<span class="badge badge-success">W</span>
							{% elif j == "L" %}
							<span class="badge badge-danger">L</span>
							{% elif j == "D" %}
							<span class="badge badge-secondary">D</span>
							{% endif %} 
							{% endfor %}
						</td>
					</tr>

				</table>
			</div>
		</div>
		<br>

		<div class="col">
			<div class="col-md">
				<div class="card text-center text-black  mb-3" id="stadium">
					<div class="card-header">
						<h5 class="card-title">Stadium</h5>
					</div>
					<div class="card-body">
						<h3 class="card-title">{{club.stadium}}</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<h2 style="text-align:  center;">Squad</h2>
	<br>
	<div>
		<table class="table w-75" style="margin-left: auto;
		margin-right: auto;">
		<thead class="thead-dark">
			<tr>
				<th scope="col-5">Goal Keepers</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for i in gk %}
				<td>
					<div class="card bg-light mb-3" style="width: 300">
						<p class="card-text" style="color: black; font-size: 40px;font-weight: bold; margin-left: 20px;
		margin-right: auto; position:absolute; ">{{i.number}}</p>
						
						<img class="card-img-top" src="{{i.picture}}" alt="Card image">
						<div class="card-body">
							{% if i.nation == "England" or i.nation == "Wales" or i.nation == "Scotland" or i.nation == "Northern Ireland" %}
								<h5 class="card-title">{{i.name}} <img src={{flags |get_items:i.nation}} style="width: 75px; float: right"></h5>
							{% else %}
								<h5 class="card-title">{{i.name}} <img src="https://www.countries-ofthe-world.com/flags-normal/flag-of-{{i.nation}}.png" style="width: 75px; float: right"></h5>
							{% endif %}

						</div>
					</div>
				</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
	<table class="table w-75"  style="margin-left: auto;
	margin-right: auto;">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Defenders</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			{% for i in df %}
			<td>
				<div class="card bg-light mb-3" style="width: 300;">
					<p class="card-text" style="color: black; font-size: 40px;font-weight: bold; margin-left: 20px;
		margin-right: auto; position:absolute; ">{{i.number}}</p>
					<img class="card-img-top" src="{{i.picture}}" alt="Card image">
					<div class="card-body">
						{% if i.nation == "England" or i.nation == "Wales" or i.nation == "Scotland" or i.nation == "Northern Ireland" %}
						<h5 class="card-title">{{i.name}} <img src={{flags |get_items:i.nation}} style="width: 75px; float: right"></h5>

						{% else %}
						<h5 class="card-title">{{i.name}} <img src="https://www.countries-ofthe-world.com/flags-normal/flag-of-{{i.nation}}.png" style="width: 75px; float: right"></h5>
						{% endif %}

					</div>
				</div>
			</td>
			{% if forloop.counter|divisibleby:4 %}
		</tr>
		<tr>
			{% endif %}	
			{% endfor %}
		</tr>
	</tbody>
</table>
<table class="table w-75" style="margin-left: auto;
margin-right: auto;">
<thead class="thead-dark">
	<tr>
		<th scope="col-12">Midfielders</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
</thead>
<tbody>
	<tr>
		{% for i in mf %}
		<td >
			<div class="card bg-light mb-3" style="width: 300" >
				<p class="card-text" style="color: black; font-size: 40px;font-weight: bold; margin-left: 20px;
		margin-right: auto; position:absolute; ">{{i.number}}</p>
				<img class="card-img-top" src="{{i.picture}}" alt="Card image" >
				<div class="card-body">
					{% if i.nation == "England" or i.nation == "Wales" or i.nation == "Scotland" or i.nation == "Northern Ireland" %}
					<h5 class="card-title">{{i.name}} <img src={{flags |get_items:i.nation}} style="width: 75px; float: right"></h5>
					{% else %}
					<h5 class="card-title">{{i.name}} <img src="https://www.countries-ofthe-world.com/flags-normal/flag-of-{{i.nation}}.png" style="width: 75px; float: right"></h5>
					{% endif %}
				</div>
			</div>
		</td>
		{% if forloop.counter|divisibleby:4 %}
	</tr>
	<tr>
		{% endif %}	
		{% endfor %}
	</tr>
</tbody>
</table>
<table class="table w-75" style="margin-left: auto;
margin-right: auto;">
<thead class="thead-dark">
	<tr>
		<th scope="col-12">Forwards</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
</thead>
<tbody>
	<tr>
		{% for i in fw %}
		<td>
			<div class="card bg-light mb-3" style="width: 300">
				<p class="card-text" style="color: black; font-size: 40px;font-weight: bold; margin-left: 20px;
		margin-right: auto; position:absolute; ">{{i.number}}</p>
				<img class="card-img-top" src="{{i.picture}}" alt="Card image">
				<div class="card-body">
					{% if i.nation == "England" or i.nation == "Wales" or i.nation == "Scotland" or i.nation == "Northern Ireland" %}
					<h5 class="card-title">{{i.name}} <img src={{flags |get_items:i.nation}} style="width: 75px; float: right"></h5>

					{% else %}
					<h5 class="card-title">{{i.name}} <img src="https://www.countries-ofthe-world.com/flags-normal/flag-of-{{i.nation}}.png" style="width: 75px; float: right"></h5>
					{% endif %}
				</div>
			</div>
		</td>
		{% if forloop.counter|divisibleby:4 %}
	</tr>
	<tr>
		{% endif %}	
		{% endfor %}
	</tr>
</tbody>
</table>
</div>
</body>
</html>




