{% load static %}
{% load get_item_one %}
{% load get_item_two %}
{% load get_items %}

<!DOCTYPE html>
<html>
<head>
	<title>Fixtures</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<style>

div{
	justify-content: center;
	text-align: center;
 }

.table{
	
	margin-left: auto;
  	margin-right: auto;
}

img{
	width: 60px;
	height: 60px;
}

</style>


</head>
<body>
	{% include 'table/navbar.html'%}
	<br>
	<h1 style="text-align: center;" >Upcoming Fixtures</h1><br>
	<table class="table w-50">
		{% for i in playingDates %}
			<thead class="thead-light">
				<tr>
					<th scope="col">{{i.weekday|get_day_of_week}} {{i}}</th>
					<th scope="col"></th>
				</tr>
			</thead>
			{% for j in playingDates|get_items:i %}
			<tbody>
				<tr>
					<td style="text-align: right; padding:20px;" > <a href = "{% url 'club' idDict|get_item_one:j.id %}"> {{j.teamone.name}} <img src ="{% get_static_prefix %}images/logos/{{ idDict|get_item_one:j.id}}.png"></a>
					{{j.teamonegoals}}
					</td>
					<td style="text-align: left; padding:20px;"> 
					{{j.teamtwogoals}}
					<a href = "{% url 'club' idDict|get_item_two:j.id %}"><img src ="{% get_static_prefix %}images/logos/{{idDict|get_item_two:j.id}}.png">  {{j.teamtwo.name}}</a>
					</td>
				</tr>
			{% endfor %}
			<tr class = "blank_row"> <td bgcolor="#FFFFFF" colspan="11">&nbsp;</td></tr>
			</tbody>
		{% endfor %}
	</table>
</body>
</html>






