{% load static%}
<style>
nav {
	justify-content: center;
	text-align: center;
 }
</style>




<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<a href="#" class="navbar-brand">Brand</a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarCollapse">
		<div class="navbar-nav">
			<a href="{% url 'home' %}" class="nav-item nav-link "><h4>Table</h4></a>
			<a href="{% url 'fixtures' %}" class="nav-item nav-link"><h4>Fixtures</h4></a>
			<a href="" class="nav-item nav-link"><h4>Clubs</h4></a>
			<a href="" class="nav-item nav-link"><h4>Players</h4></a>
		</div>
	</div>
</nav>